.bf-geo-address-fields .container-for-geo-address-field{
    position: relative;
    display: inline;
    min-height: 1px;
    float: left;
    width: calc(100% - 90px);
    box-sizing: border-box;
}

.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-field.is-single{
    width: 95%;
}

.bf-geo-address-fields .container-for-geo-address-field.is-single {
    width: calc(100% - 60px);
}

.bf-geo-address-fields .container-for-geo-address-controls{
    float: right;
    width: 80px;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}

.bf-geo-address-fields .container-for-geo-address-controls > p > a{
    cursor: pointer;
}

.bf-geo-address-fields .container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.bf-geo-address-fields .container-for-geo-address-controls [class^=gmw-icon-]:before,
.container-for-geo-address-controls [class^=gmw-icon-]:before,
.container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.container-for-geo-address-controls [class^=gmw-icon-]:before {
    width: 0.5rem;
}

.bf-geo-address-fields .container-for-geo-address-controls > p > a > span.dashicons,
.container-for-geo-address-controls > p > a > span.dashicons {
    width: 10px;
    height: 10px;
    font-size: 16px;
}

.bf-geo-address-fields .container-for-geo-address-field input[type=text].bf-address-autocomplete,
.container-for-geo-address-field .bf-address-autocomplete {
    width: 95%;
    height: 45px;
}

.bf-geo-address-fields{
    height: auto;
}

p.bfgmw-action a.geo-address-field-delete{
    display: none;
    text-decoration: none;
    text-decoration-style: unset;
}

p.bfgmw-action a.geo-address-field-add{
    display: none;
    text-decoration: none;
    text-decoration-style: unset;
}

p.bfgmw-action {
    padding: 9px 5px;
    margin: 0;
}

p.gmw-lf-field.message {
    color: #000;
    clear: both;
    display: inline-table;
    font-size: 0.7rem;
    border-radius: 3px;
    padding: 9px 5px;
    margin: 0;
}

.buddyforms-metabox [class^=gmw-icon-], .bf_field_group [class^=gmw-icon-],
.the_buddyforms_form [class^=gmw-icon-] {
    margin-right: .3em;
}

.bf-geo-address-example {
    display: none;
}

p.gmw-lf-field.message.changed i.gmw-icon-spin,
p.gmw-lf-field.message.error i.gmw-icon-cancel,
p.gmw-lf-field.message.ok i.gmw-icon-ok-light{
    display: inline-block;
}

p.gmw-lf-field.message i {
    display: none;
}

p.gmw-lf-field.message.error {
    color: #a94442;
    background-color: #f2dede;
}

p.gmw-lf-field.message.ok {
    display: inline-table;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #82b77b
}

.postbox p.gmw-lf-field.message.changed {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.bf-geo-address-fields {
    overflow: auto;
    clear: both;
    margin-top: 5px;
}
