.postbox .bf-geo-address-fields .container-for-geo-address-field,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-field,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-field,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-field {
    position: relative;
    display: inline;
    min-height: 1px;
    float: left;
    width: calc(100% - 90px);
    box-sizing: border-box;
}

.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-field.is-single{
    width: 95%;
}

.postbox .bf-geo-address-fields .container-for-geo-address-field.is-single,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-field.is-single,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-field.is-single {
    width: calc(100% - 60px);
}

.postbox .bf-geo-address-fields .container-for-geo-address-controls,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-controls,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-controls {
    float: right;
    width: auto;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}

.postbox .bf-geo-address-fields .container-for-geo-address-controls > p > a,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-controls > p > a,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls > p > a,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-controls > p > a {
    cursor: pointer;
}

.postbox .bf-geo-address-fields .container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.postbox .bf-geo-address-fields .container-for-geo-address-controls [class^=gmw-icon-]:before,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-controls [class^=gmw-icon-]:before,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls [class^=gmw-icon-]:before,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls [class*=" gmw-icon-"]:before,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-controls [class^=gmw-icon-]:before,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls [class^=gmw-icon-]:before {
    width: 0.5rem;
}

.postbox .bf-geo-address-fields .container-for-geo-address-controls > p > a > span.dashicons,
.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-controls > p > a > span.dashicons,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls > p > a > span.dashicons,
.the_buddyforms_form fieldset .col-xs-12 .container-for-geo-address-controls > p > a > span.dashicons,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .container-for-geo-address-controls > p > a > span.dashicons {
    width: 10px;
    height: 10px;
    font-size: 16px;
}

.postbox-submissions .standard-form .bf-geo-address-fields .container-for-geo-address-field input[type=text].bf-address-autocomplete,
.postbox fieldset .bf-geo-address-fields .container-for-geo-address-field input[type=text].bf-address-autocomplete,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf-geo-address-fields .container-for-geo-address-field input[type=text].bf-address-autocomplete,
.container-for-geo-address-field .bf-address-autocomplete {
    width: 95%;
    height: 45px;
}

.postbox-submissions .standard-form .bf_field_group .bf-geo-address-fields,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group .bf-geo-address-fields{
    height: 50px;
}

.postbox p.bfgmw-action a.geo-address-field-add,
.the_buddyforms_form p.bfgmw-action a.geo-address-field-add,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset p.bfgmw-action a.geo-address-field-add {
    display: none;
    text-decoration: none;
    text-decoration-style: unset;
}

.postbox p.bfgmw-action,
.the_buddyforms_form p.bfgmw-action,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group p.bfgmw-action {
    padding: 15px 5px;
    margin: 0;
}

.postbox p.gmw-lf-field.message,
.buddyforms-metabox p.gmw-lf-field.message,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group p.gmw-lf-field.message,
#buddypress .the_buddyforms_form p.gmw-lf-field.message,
.the_buddyforms_form p.gmw-lf-field.message {
    color: #000;
    clear: both;
    display: inline-table;
    font-size: 0.7rem;
    border-radius: 3px;
    padding: 15px 5px;
    margin: 0;
}

.buddyforms-metabox [class^=gmw-icon-],
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group [class^=gmw-icon-],
.the_buddyforms_form [class^=gmw-icon-] {
    margin-right: .3em;
}

.bf-geo-address-example {
    display: none;
}

.buddyforms-metabox p.gmw-lf-field.message.changed i.gmw-icon-spin,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group p.gmw-lf-field.message.changed i.gmw-icon-spin,
.buddyforms-metabox p.gmw-lf-field.message.error i.gmw-icon-cancel,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group p.gmw-lf-field.message.error i.gmw-icon-cancel,
.buddyforms-metabox p.gmw-lf-field.message.ok i.gmw-icon-ok-light,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group p.gmw-lf-field.message.ok i.gmw-icon-ok-light,
.postbox p.gmw-lf-field.message.changed i.gmw-icon-spin,
.the_buddyforms_form p.gmw-lf-field.message.changed i.gmw-icon-spin,
.postbox p.gmw-lf-field.message.error i.gmw-icon-cancel,
.the_buddyforms_form p.gmw-lf-field.message.error i.gmw-icon-cancel,
.postbox p.gmw-lf-field.message.ok i.gmw-icon-ok-light,
.the_buddyforms_form p.gmw-lf-field.message.ok i.gmw-icon-ok-light {
    display: inline-block;
}

.postbox p.gmw-lf-field.message i,
.buddyforms-metabox p.gmw-lf-field.message i,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset .bf_field_group p.gmw-lf-field.message i,
.the_buddyforms_form p.gmw-lf-field.message i {
    display: none;
}

.postbox p.gmw-lf-field.message.error,
.buddyforms-metabox p.gmw-lf-field.message.error,
#buddypress .the_buddyforms_form p.gmw-lf-field.message.error,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset p.gmw-lf-field.message.error,
.the_buddyforms_form p.gmw-lf-field.message.error {
    color: #a94442;
    background-color: #f2dede;
}

.postbox p.gmw-lf-field.message.ok,
.buddyforms-metabox p.gmw-lf-field.message.ok,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset p.gmw-lf-field.message.ok,
.the_buddyforms_form p.gmw-lf-field.message.ok {
    display: inline-table;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #82b77b
}

.postbox p.gmw-lf-field.message.changed,
.buddyforms-metabox p.gmw-lf-field.message.changed,
.edit-post-layout__content .metabox-location-normal .postbox-container .postbox fieldset p.gmw-lf-field.message.changed,
.the_buddyforms_form p.gmw-lf-field.message.changed {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.bf_field_group .bf-geo-address-fields {
    overflow: auto;
    clear: both;
}
